@import "tailwindcss";
@import "tw-animate-css";

@import "uploadthing/tw/v4";
/* @source "../../node_modules/@uploadthing/react/dist"; */
@source "../../node_modules/@uploadthing/react/dist";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-dm-sans: var(--font-dm-sans);
    --font-outfit: var(--font-outfit);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-primary-gold: var(--primary-gold);
    --color-off-white: var(--off-white);
    --color-btn-color: var(--btn-color);
    --color-supporting-text: var(--supporting-text);
    --color-header-text: var(--header-text);
    --color-border-color: var(--border-color);
    --color-btn-secondary: var(--btn-secondary);
    --color-light-bg: var(--light-bg);
    --color-btn-hover: var(--btn-hover);
    --color-sec-btn-hover: var(--sec-btn-hover);
    --color-link-btn: var(--link-btn);
    --color-disabled: var(--disabled);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-error: var(--error);
    --color-input-bg: var(--input-bg);
    --color-sec-btn-active: var(--sec-btn-active);
    --color-disabled-btn: var(--disabled-btn);
    --color-disabled-btn-text: var(--disabled-btn-text);
    --color-sec-button-active-bg: var(--sec-button-active-bg);
    --color-input-border: var(--input-border);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --primary-gold: #f7c74b;
    --off-white: #f8f8f8;
    --btn-color: #1e293b;
    --supporting-text: #6b7280;
    --header-text: #1e293b;
    --border-color: #e5e7eb;
    --btn-secondary: #f7c74b;
    --light-bg: #f5f5f9;
    --btn-hover: #111827;
    --sec-btn-hover: #e6b73f;
    --link-btn: #f7c74b;
    --disabled: #d1d5db;
    --success: #16a34a;
    --warning: #facc15;
    --error: #dc2626;
    --input-bg: #d1d5db;
    --sec-btn-active: #d4a835;
    --disabled-btn: #e5e5e5;
    --disabled-btn-text: #9ca3af;
    --sec-button-active-bg: #0f172a;
    --input-border: #cbd5e1;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .table-header {
        @apply p-3 text-sm text-supporting-text font-semibold;
    }
    .table-cell {
        @apply p-3 text-sm text-header-text;
    }
    .table-col-body {
        @apply p-3 text-sm text-header-text;
    }
}
